*{
    margin: 0%;
    padding: 0%;
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    background-size: cover;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#container {
    display: flex;
}

.cards{
    height: 500px;
    width: 350px;
    box-shadow: 2px 4px 20px #aaa;
    border-radius: 20px;
    margin-left: 40px;
    object-fit: cover;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

img {
    height: 300px;
    transform: translateY(-50px);
}

.card-text {
    transform: translateY(-40px);
    padding: 25px;
}

h2 {
    margin-bottom: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(72, 72, 72);
}

p {
    margin-bottom: 25px;
    font-size: 1rem;
    color: darkgray;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}

button {
    padding: 15px 20px;
    border-radius: 5px;
    background-color: rgb(90, 156, 255);
    border: none;
    color: aliceblue;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-shadow: 2px 4px 10px #aaa;
}